@font-face {
    font-family: 'Poppins';
    src: url(font/Poppins-Regular.ttf);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-size: 1em;
    background: #fff;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 18px 5px rgba(0, 0, 0, 0.2);
}

.popup-header {
    color: #1b9bff;
    background: #202124;
    font-weight: 500;
    padding: 15px 20px;
    font-size: 1.4em;
    border-radius: 10px 10px 0 0;
}

.selector {
    padding: 15px 20px;
}

.table-players {
    max-height: 300px;
    overflow-y: auto;
    border-bottom: 1px solid #e5e4e2;
}

:is(.table-players, .display)::-webkit-scrollbar {
    width: 0;
}

.selector :is(.country, .header) {
    font-size: 1.2em;
    font-weight: 600;
    color: #1b9bff;
    margin-bottom: 5px;
}

.selector .checkbox:not(:last-child) {
    margin-bottom: 10px;
}

li {
    list-style: none;
}

.selector li {
    cursor: pointer;
}

.selector li:hover {
    background: #e5e4e2;
}

.button {
    border-radius: 0 0 10px 10px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button button {
    text-transform: uppercase;
    color: #1b9bff;
    background: rgba(32, 33, 36, .9);
    padding: 8px 16px;
    border-radius: 20px;
    transition: all 0.2s ease;
}

.button button:hover {
    background: rgba(32, 33, 36, 1);
}

.display {
    position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid #e5e4e2;
    height: max-content;
}

.display {
    display: grid;
    align-items: center;
    gap: 5px;
    grid-template-columns: max-content max-content;
    max-height: 135px;
    overflow-y: auto;
}

.display:empty::after {
    content: "No player selected";
}

.display .selected {
    display: flex;
    align-items: center;
    background: #e6e6e6;
    border-radius: 20px;
    padding: 4px 4px 4px 8px;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
    width: max-content;
}

.selected svg {
    width: 1em;
    height: 0.8em;
}

.selected button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-size: 1em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 4px;
    transition: 0.1s ease;
}

.selected button:hover {
    background: #fff;
}
